html{
    background: no-repeat center/cover url('https://images.unsplash.com/photo-1620336655055-088d06e36bf0?q=80&w=1887&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
    height: 100vh;
    font-size: 16px;
    color: black;
}
.container{
    background-color: azure;
    padding: 20px;
    margin: 0 auto;
    width: 80%;
    border-radius: 20px;
    position: relative;
}
.feutured-title-image {
    display: flex;
    justify-content: center;
}
.featured-image{
    max-width: 100%; 
    height: auto;    
}
.bold{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}

.bolder{
    font-weight: bolder;
}

.main-title{
    font-size: 40px;
}

.main-paragraph{
    font-style: italic;
}

figure img{
    bottom: 80px;
    width: 900px;
    height: 300px;
}

.feutured-image{
    text-align: center;
    margin-top: 30px;
    border: solid 1px black;
}

.biography-container{
    padding: 25px 0;
    margin: 25px 0;
    border-top: 1px dashed black;
    border-bottom: 1px dashed black;
}

.quotes-container{
    background-color: #ddd;
    padding: 30px;
}

.quotes-container blockquote{
    font-weight: bold;
    font-size: 30px;
}

.quotes-container p{
    font-style: italic;
}

.curiosities-container{
    padding: 25px 0;
    margin: 25px 0; 
    border: 5px dashed black;
}
.curiosities-container li{
    height: 30px
}
